{% extends "events/base_events.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Eventus</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'events_app:panel' %}">Hola {{ user.username|capfirst }}</a></li>
                {% else %}
                <li><a href="{% url 'events_app:panel' %}">Sign Up / Login</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="jumbotron">
  <div class="container text-center">
    <h1>EVENTUS</h1>
    <p>Bienvenido a EVENTUS, aquí podrás encontrar eventos que se den en tu ciudad e inscribirte on-line con un solo click.</p>
    <p>¡<a href="{% url 'users_app:login' %}" role="button">Registrate</a> y crea tu evento ahora!</p>
  </div>
</div>

<div class="container">

    <div class="page-header">
        <h4><strong>Eventos disponibles</strong></h4>
    </div>

    <div class="row">
        
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                <select class="form-control">
                    <option>Categoría</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></span>
            <select class="form-control">
                <option>Tipo pago</option>
            </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="Busca el evento de tu gusto">
            </div>
        </div>

    </div>

</div>

<p></p>

<div class="container eventos">    
    
    <div class="row contenedor-eventos">
        {% for event in events %}
        <div class="col-sm-1 col-md-3 ">
            <div class="thumbnail equal">
                <img src="{{ event.imagen.url }}" alt="250x180">
                <div class="caption">
                    <h4><a href="">{{ event.name }}</a></h4>
                    <small class="date">{{ event.start }}</small>
                    <div class="place">
                        <small class="place">{{ event.place}}</small> / 
                    </div>
                    <span class="views">{{ event.views }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>

</div>

<div class="container categorias">    

    <div class="page-header">
        <h4><strong>Categorías relacionadas</strong></h4>
    </div>

    <div class="row">
        <div class="col-sm-1 col-md-12">
        {% for category in categories %}
            <a class="btn btn-default btn-lg btn-fix">
                <span class="glyphicon glyphicon-tag"></span> {{ category.name }}
            </a>
        {% endfor %}
        </div>

    </div>

</div>

<div class="container organizadores">    

    <div class="page-header">
        <h4><strong>Organizadores destacados</strong></h4>
    </div>

    <div class="row">

        <div class="col-sm-1 col-md-2">
            <div class="thumbnail">
                <img src="http://placehold.it/300x180" alt="250x180">
                <div class="caption">
                    Nombre organizador
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock content %}