{% extends "events/base_events.html" %}

{% block title %}Panel{% endblock title %}

{% block content %}

    {% include "events/panel/navbar.html" %}

    <div class="container">

        <div class="page-header">
            <h4>
                <strong>Editando: {{ event.name }}</strong>
            </h4>
        </div><!-- page-header -->

        <div class="row">
            
            <div class="col-md-12">

                <form role="form" action="{% url 'events_app:eliminar' event.id %}" method="POST">{% csrf_token %}
                    <p class="">¿Desea eliminar el evento "{{ event.name }}"?</p>

                    <input type="submit" value="Sí" class="btn btn-danger"> 
                    <a href="{% url 'events_app:panel' %}" class="btn btn-default">No</a>
                </form>

            </div><!-- col-md-12 -->

        </div><!-- /row -->

    </div><!-- /container -->

{% endblock content %}