body {
    margin-top: 50px;
}

.jumbotron {
    margin-bottom: 10px;
}

.page-header {
    margin: 5px 0 20px !important;
    font-weight: bolder;
}

.eventos,
.categorias,
.organizadores {
    margin-bottom: 30px;
}

.contenedor-eventos {
    margin-top: 15px
}

.equal {
    height: 340px;
}

.line {
    border-right: 1px solid #eee;
}

@media screen and (max-width: 480px) {
    .categorias .btn-fix {
        margin-top: 7px;
    }
    .categorias .row {
        text-align: center;
    }
    .categorias a {
        display: block;
    }
}